.Result {
  width: 100%;
  padding: 8px 0;

  &-Item {
    display: inline-block;
    padding: 5px 8px;

    border-radius: 3px;

    &_type {
      &_default {
        color: #ff6600;

        background-color: #ffecdf;
      }

      &_error {
        color: #ff0019;

        background-color: #ffdfe5;
      }
    }
  }
}
