.Search {
  width: 100%;
  
  &-Form {
    width: 100%;
    padding-top: 10px;
	}
	
  &-Input {
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 28px;
    padding: 5px 8px 6px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
  }
}