.Search {
  width: 100%;

  &-Form {
    width: 100%;
    padding-top: 10px;
  }

  &-Input {
    box-sizing: border-box;
    height: 28px;
    margin-right: 5px;
    padding: 5px 8px 6px;

    background-color: #f0f0f0;
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
  }
}
